{% extends "dash_base.html" %}

{% block desc %}{{ portal.pa_desc }} [{{ portal.pa_code }}] - Clients{% endblock %}
{% block title %}{{ portal.pa_desc }}: Clients{% endblock %}
{% block header %}{{ portal.pa_desc }}{% endblock %}

{% block sidebar %}
{#    <ul class="nav nav-sidebar">#}
{#        <li><a href="{% url 'portals:index' %}">Portals</a></li>#}
{#        <li><a href="{% url 'portals:clients' portal.pa_code %}">Clients</a></li>#}
{#        <li><a href="{% url 'clients:categories' portal.pa_code client.pca_code %}">Categories</a></li>#}
{#        <li class="active"><a href="{% url 'categories:projects' pa_code=portal.pa_code pca_code=client.pca_code cca_id=category.cca_id %}">Topics <span class="sr-only">(current)</span></a></li>#}
{#    </ul>#}
    <ul class="nav nav-sidebar">
        {% for curr_portal in portal_list %}
            {% url 'portals:clients' curr_portal.pa_code as clients_url %}
            {% if curr_portal.pa_id = portal.pa_id %}
                <li class="active"><a href="{{ clients_url }}">{{ curr_portal.pa_code }}</a></li>
            {% else %}
                <li><a href="{{ clients_url }}">{{ curr_portal.pa_code }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% url 'portals:index' as portals_url %}
    {% url 'portals:clients' portal.pa_code as clients_url %}
    <ul class="breadcrumb">
        {% breadcrumb "Home" %}
        {% breadcrumb "Portals" portals_url %}
        {% breadcrumb portal.pa_code %}
        {% breadcrumb "Clients" clients_url %}
    </ul>
{% endblock %}

{% block content %}

    {% if client_list %}
        <h2>Clients</h2>
        <table id="portal-clients" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Code</th>
            <th>Client Name</th>
            <th>Created On</th>
            <th>Created By</th>
            <th>Modified On</th>
            <th>Modified By</th>
        </tr>
        {% for client in client_list %}
            <tr>
                <td>{{ client.pca_code }}</td>
                <td><a href="{% url 'clients:categories' portal.pa_code client.pca_code %}">{{ client.pca_name }}</a></td>
                <td>{{ client.created_at }}</td>
                <td>{{ client.created_by }}</td>
                <td>{{ client.modified_at }}</td>
                <td>{{ client.modified_by }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No clients are available.</p>
    {% endif %}

{% endblock %}