arrow==0.8.0
binaryornot==0.4.0
boto3==1.4.0
botocore==1.4.43
chardet==2.3.0
click==6.6
cookiecutter==1.4.0
Django==1.9.8
django-debug-toolbar==1.4
docutils==0.12
elasticsearch==2.3.0
elasticsearch-dsl==2.1.0
future==0.15.2
gunicorn==19.6.0
Jinja2==2.8
jinja2-time==0.2.0
jmespath==0.9.0
MarkupSafe==0.23
poyo==0.4.0
psycopg2==2.6.2
python-dateutil==2.5.3
s3transfer==0.1.1
six==1.10.0
sqlparse==0.1.19
urllib3==1.16
whichcraft==0.4.0
