{% extends "dash_base.html" %}

{% block desc %}{{ client.pca_code }}: {{ category.cca_name }}{% endblock %}
{% block title %}{{ category.cca_name }}{% endblock %}
{% block header %}{{ category.cca_name }}{% endblock %}

{% block sidebar %}
{#    <ul class="nav nav-sidebar">#}
{#        <li><a href="{% url 'portals:index' %}">Portals</a></li>#}
{#        <li><a href="{% url 'portals:clients' portal.pa_code %}">Clients</a></li>#}
{#        <li><a href="{% url 'clients:categories' portal.pa_code client.pca_code %}">Categories</a></li>#}
{#        <li class="active"><a href="{% url 'categories:projects' pa_code=portal.pa_code pca_code=client.pca_code cca_id=category.cca_id %}">Topics <span class="sr-only">(current)</span></a></li>#}
{#    </ul>#}
    <ul class="nav nav-sidebar">
        {% for cat in category_list %}
            {% url 'categories:projects' pa_code=portal.pa_code pca_code=client.pca_code cca_id=cat.cca_id as cat_url %}
            {% if cat.cca_id = category.cca_id %}
                <li class="active"><a href="{{ cat_url }}">{{ cat.cca_code }}</a></li>
            {% else %}
                <li><a href="{{ cat_url }}">{{ cat.cca_code }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}


{% load breadcrumbs %}
{% block breadcrumbs %}
    {% url 'portals:index' as portals_url %}
    {% url 'portals:clients' portal.pa_code as clients_url %}
    {% url 'clients:categories' portal.pa_code client.pca_code as cat_url %}
    {% url 'categories:projects' pa_code=portal.pa_code pca_code=client.pca_code cca_id=category.cca_id as proj_url %}

    {% breadcrumb "Home" %}
    {% breadcrumb "Portals" portals_url %}
    {% breadcrumb portal.pa_code %}
    {% breadcrumb "Clients" clients_url %}
    {% breadcrumb client.pca_code %}
    {% breadcrumb "Categories" cat_url %}
    {% breadcrumb category.cca_code %}
    {% breadcrumb "Projects" proj_url %}
{% endblock %}

{% block content %}

    {% if project_list %}
        <h2>Projects</h2>
        <table id="category-projects" class="table table-striped table-bordered">
        <tr>
            <th>Code</th>
            <th>Title</th>
{#            <th>Summary</th>#}
            <th>Created On</th>
            <th>Created By</th>
            <th>Modified On</th>
            <th>Modified By</th>
        </tr>
        {% for project in project_list %}
            <tr>
                <td>{{ project.cpa_code }}</td>
                <td><a href="{% url 'projects:worklogs' pa_code=portal.pa_code pca_code=client.pca_code cpa_id=project.cpa_id %}">{{ project.cpa_title }}</a></td>
{#                <td>{{ project.cpa_summary }}</td>#}
                <td>{{ project.created_at }}</td>
                <td>{{ project.created_by }}</td>
                <td>{{ project.modified_at }}</td>
                <td>{{ project.modified_by }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No projects are available.</p>
    {% endif %}

{% endblock %}
