{% extends "dash_base.html" %}

{% block desc %}Home: Search{% endblock %}
{% block title %}Home: Search{% endblock %}
{% block header %}Search{% endblock %}

{% block search %}{{ query_string|default:"" }}{% endblock %}

{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{% url 'portals:index' %}">Portals</a></li>
    </ul>
{% endblock %}


{% block content %}

    <form id="content-search" action="{% url 'search:serp' %}" method="get">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input name="q" type="text" class="form-control" value="{{ query_string|default:"" }}" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
    {#                type="submit"#}
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    </form>

    {% if search_results %}
        <h2>Results <small>[{{ page_obj.start_index }}–{{ page_obj.end_index }} of {{ page_obj.paginator.count }}]</small></h2>
        {% for serp in search_results %}
            {% url 'projects:detail' serp.pa_code serp.pca_code serp.cpa_id serp.meta.id as detail_url %}
            <h3><a href="{{ detail_url }}">{{ serp.cpa_title }}</a></h3>

            <div class="serp-info">
            <p class="text-muted">
                <strong>Path:</strong>
                <span>{{ serp.pa_code }}/</span><span>{{ serp.pca_code }}</span>
                <strong>Author:</strong>
                <span>{{ serp.pwa_created_by }} @ {{ serp.pwa_created_at }}</span>
            </p>
            </div>

{#            <div class="serp-worklog">#}
{#                <pre><code>{{ serp.pwa_note }}</code></pre>#}
{#            </div>#}
        {% endfor %}

        {% if page_obj.has_other_pages %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li>
                      <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                {% endif %}

                {% for page in page_obj.paginator.page_range %}
                    {% if page != page_obj.number %}
                        <li><a href="?page={{ page }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page }}</a></li>
                    {% else %}
                        <li class="active">
                            <span>{{ page }} <span class="sr-only">(current)</span></span>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li>
                      <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                {% endif %}
                </ul>
            </nav>
        {% endif %}


    {% else %}
        <p>No search results found.</p>
    {% endif %}
{% endblock %}